.portal {
    position: relative;
    z-index: 200;
}

.overlay {
    position: fixed;
    inset: 0;

    background-color: rgba($color: #000000, $alpha: 0.5);
}

.modalBody {
    position: absolute;

    top: 50%;
    left: 50%;

    width: fit-content;
    height: fit-content;

    padding: 1rem;

    background-color: #000;
    transform: translate(-50%, -50%);
}

.actionButtons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}
