@mixin inputStyle {
    width: 100%;
    height: 100%;

    padding: 0.125rem 0.5rem;
    font-size: 0.85rem;
}

.wrapper {
    flex: 1;

    min-width: 350px;

    padding-right: 0.5rem;

    display: flex;
    align-items: center;
}

.inputContainer {
    position: relative;
    z-index: 1;

    width: 100%;
    min-height: 25px;

    border-radius: 0.125rem;
    background-color: rgba($color: #fff, $alpha: 0.15);
}

.input {
    @include inputStyle;

    min-height: 25px;

    background-color: transparent;
    transition: background-color 150ms;

    &:hover,
    &:focus {
        background-color: rgba($color: #fff, $alpha: 0.1);
    }

    &:not(:focus) {
        color: transparent;
    }

    &:focus+.interactivePath {
        display: none;
    }
}

.interactivePath {
    @include inputStyle;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    max-width: calc(100% - 3rem);

    display: flex;

    margin-right: 1.25rem;

    pointer-events: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pathPart {
    padding: 0 0.1875rem;

    white-space: nowrap;
    transition: background-color 150ms;
    pointer-events: all;
    cursor: pointer;
    border-radius: 2px;

    &:hover {
        background-color: rgba($color: #fff, $alpha: 0.25);
    }

    &.selected {
        background-color: rgba($color: #000, $alpha: 0.3);
    }
}

.pathSeparator {
    margin: 0 0.0675rem;
}

.dirsListWrapper {
    position: absolute;
    bottom: 0;

    padding: 2px;

    transform: translateY(100%);
    overflow: hidden;
    background-color: var(--frame-background-color);
    border-radius: 0 0 4px 4px;
}

.scrollBar {
    &>*:last-child {
        padding: 0 0 0 2px;
    }
}

.dirsList {
    max-height: 118px;
    max-width: 250px;

    display: flex;
    flex-direction: column;
    gap: 2px;

    &.scrollable {
        padding-right: 16px;
    }
}

.dirsListButton {
    min-height: 22px;
    max-height: 22px;
    width: 232px;

    padding: 0 4px;

    display: flex;
    align-items: center;

    font-size: 16px;
    background-color: rgba($color: #fff, $alpha: 0.05);
    transition: background-color 150ms;
    border-radius: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &:hover {
        background-color: rgba($color: #fff, $alpha: 0.15);
    }

    &:active {
        background-color: rgba($color: #000000, $alpha: 0.1);
    }
}
