@mixin inputStyle {
    width: 100%;
    height: 100%;

    padding: 0.125rem 0.5rem;
    font-size: 0.85rem;
    border-radius: 0.125rem;
}

.wrapper {
    min-width: 350px;
    width: 50%;

    display: flex;
    align-items: center;
}

.inputContainer {
    width: 100%;
    min-height: 25px;

    position: relative;
    z-index: 1;
}

.input {
    @include inputStyle;

    min-height: 25px;

    background-color: rgba($color: #fff, $alpha: 0.25);

    &:not(:focus) {
        color: transparent;
    }

    &:focus + .currentPath {
        display: none;
    }
}

.pathInputCover {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 2rem;
}

.currentPath {
    @include inputStyle;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    max-width: calc(100% - 3rem);

    display: flex;

    margin-right: 1.25rem;

    pointer-events: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pathPart {
    white-space: nowrap;
    transition: background-color 150ms;
    pointer-events: all;
    cursor: pointer;
    padding: 0 0.1875rem;

    &:disabled {
        cursor: not-allowed;
    }

    &:hover {
        background-color: rgba($color: #fff, $alpha: 0.25);
    }
}

.pathSeparator {
    margin: 0 0.0675rem;
}
