.wrapper {
    --border-color: #ffffff60;

    position: absolute;
    z-index: 999;

    width: var(--ctx-width, 200px);

    padding: 0.25rem;

    display: flex;
    flex-direction: column;

    background-color: black;
    border-radius: 0.375rem;
    border: solid 1px var(--border-color);
    box-shadow: 0 0 8px 0 #000000;

    &:empty {
        display: none;
    }

    button, .submenuTitle {
        width: 100%;
        height: 35px;

        padding: 0.25rem 0.5rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        border-radius: 0.25rem;
        transition: background-color 100ms;
        cursor: pointer;

        & > p {
            height: fit-content;
        }

        &:hover {
            background-color: #ffffff60;
        }

        &:active {
            background-color: #ffffff40;
        }

        &[aria-selected="true"] {
            display: flex;
            justify-content: space-between;

            background-color: #ffffff20;
        }
    }
}
