.wrapper {
    position: relative;

    width: var(--file-list-item-width);
    height: 60px;

    padding: 0.25rem;

    display: grid;
    gap: 0.25rem;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "icon name"
        "icon info";

    font-size: 0.875rem;
    border-radius: 0.25rem;
    overflow: hidden;
    outline: 1px solid transparent;
    outline-offset: -1px;
    transition: background-color, outline-color, box-shadow;
    transition-duration: 100ms;

    &:hover {
        background-color: rgba($color: #fff, $alpha: 0.15);
    }

    &:focus {
        outline-color: rgba($color: #fff, $alpha: 0.45);

        &:not(:hover) {
            background-color: rgba($color: #fff, $alpha: 0.05);
        }
    }

    &:active {
        background-color: rgba($color: #fff, $alpha: 0.20);
    }

    // &::before {
    //     content: "";

    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     z-index: -1;

    //     width: 0;
    //     height: 100%;
    //     width: var(--available-space-width);

    //     background-color: var(--free-memory-background-color);
    // }

    &:hover::after {
        opacity: 0.15;
    }

    &:active::after {
        opacity: 0.2;
    }
}

.icon {
    grid-area: icon;

    width: 100%;
    height: 100%;

    padding: 0.25rem;

    svg {
        height: 100%;

        aspect-ratio: 1 / 1;
    }
}

.name {
    grid-area: name;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.info {
    grid-area: info;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-size: 0.9em;
    letter-spacing: 0.05em;
}