.wrapper {
    position: relative;

    width: var(--popup-width);

    background-color: black;
    border-radius: 2px;
    overflow: hidden;
    font-size: 0.9em;
}

.heading {
    position: relative;

    height: var(--popup-min-height);
    width: 100%;

    padding: 0 0.25rem 1px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    &::before,
    &::after {
        content: "";

        position: absolute;
        bottom: 0;

        height: 1px;

        transition: width var(--notification-tick-speed);
    }

    &::before {
        left: 0;

        width: calc(100% - var(--current-percentage));
    }

    &::after {
        right: 0;

        width: var(--current-percentage);

        background-color: rgba($color: #fff, $alpha: 0.5);
    }

    .wrapper[data-type="error"] &::before {
        background-color: red;
    }

    .wrapper[data-type="warn"] &::before {
        background-color: yellow;
    }

    .wrapper[data-type="info"] &::before {
        background-color: aqua;
    }
}

.headingText {
    text-transform: capitalize;
}

.closeButton {
    height: 20px;
    width: 20px;

    padding: 3px;

    opacity: 0;
    transition:
        background-color 150ms,
        opacity 150ms;
    border-radius: 0.125rem;

    .wrapper:hover & {
        opacity: 1;
    }

    &:hover {
        background-color: rgba($color: #fff, $alpha: 0.25);
    }

    &:active {
        background-color: rgba($color: #fff, $alpha: 0.15);
    }
}

.body {
    padding: 0.125rem 0.25rem;

    transition: background-color 150ms;
}

.wrapper[data-has-reason="true"] .body {
    cursor: pointer;

    &:hover {
        background-color: rgba($color: #fff, $alpha: 0.1);
    }
}

.reason {
    margin-top: 0.5rem;
}
