.wrapper {
    position: relative;

    width: var(--popup-width);

    background-color: black;
    border-radius: 2px;
    overflow: hidden;
    font-size: 0.9em;

    &::after {
        content: "";

        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 0;

        height: var(--popup-min-height);
        width: var(--action-progress);

        transition: width 50ms;
        pointer-events: none;
        background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.2) 70%,
            rgba(255, 255, 255, 0.3) 90%
        );
    }
}

.error::after {
    background: linear-gradient(90deg, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0.3) 70%, rgba(255, 0, 0, 0.5) 90%);
}

.info {
    height: var(--popup-min-height);
    width: 100%;

    padding: 0 0.25rem;

    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.text {
    flex-grow: 1;

    position: relative;
    z-index: 1;

    width: 100%;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-shadow: 0 0 2px #000;

    .error & {
        cursor: pointer;
    }
}

.buttons {
    display: none;
    gap: 2px;
    align-items: center;

    .wrapper:hover & {
        display: flex;
    }

    & > button {
        height: 20px;
        width: 20px;

        padding: 3px;

        border-radius: 2px;

        &:hover {
            background-color: rgba($color: #fff, $alpha: 0.3);
        }

        &:active {
            background-color: rgba($color: #fff, $alpha: 0.2);
        }

        &:disabled {
            display: none;
        }

        & > svg {
            fill: white;
        }
    }
}

@keyframes errorAlert {
    0% {
        border: 1px solid transparent;
        border-left-width: 2px;
        border-right-width: 2px;
        border-bottom-width: 2px;
    }

    10% {
        border: 1px solid rgb(150, 0, 0);
        border-left-width: 2px;
        border-right-width: 2px;
        border-bottom-width: 2px;
    }

    100% {
        border: 1px solid transparent;
        border-left-width: 2px;
        border-right-width: 2px;
        border-bottom-width: 2px;
    }

    100% {
        border-top: 1px solid rgb(65, 65, 65);
    }
}

.errorBody {
    display: grid;
    place-items: center;
    gap: 0.5rem;

    padding: 0.25rem;

    background-color: rgb(30, 30, 30);

    & > button {
        width: 70%;
        height: 1.5rem;

        background-color: rgb(50, 50, 50);
        border-radius: 0.5rem;
        transition: background-color 150ms;

        &:hover {
            background-color: rgb(45, 45, 45);
        }

        &:active {
            background-color: rgb(40, 40, 40);
        }
    }

    .error & {
        animation: errorAlert 2s linear 0s 1 forwards;
    }
}

.doForAllLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;

    input {
        appearance: none;

        width: 14px;
        aspect-ratio: 1 / 1;

        border: 2px solid rgb(170, 170, 170);
        border-radius: 0.25rem;
        transition:
            background-color 150ms,
            border-color 150ms;

        &:checked {
            background-color: rgb(200, 200, 200);

            border: 2px solid #000;
        }
    }
}
