.wrapper {
    // position: absolute;
    // bottom: 0;
    // right: 0;
    z-index: 700;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    pointer-events: none;

    & > * {
        pointer-events: all;
    }
}
