.filesContainer::-webkit-scrollbar {
    width: 0.4rem;
}

.filesContainer::-webkit-scrollbar-track {
    background-color: transparent;
}

.filesContainer::-webkit-scrollbar-thumb {
    background-color: var(--top-grey-dark);
    border-radius: 20px;
}