.app {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: min-content 1fr;
}

.body {
    width: 100%;
    height: 100%;

    padding-bottom: 1px;

    display: grid;
    grid-template-rows: min-content 1fr;

    overflow: hidden;
}

.popupZone {
    --popup-min-height: 25px;
    --popup-width: 250px;

    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 700;

    padding: 0.5rem;
}
