.app {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: min-content 1fr;
}

.body {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: min-content 1fr;

    overflow: hidden;
}

.popupZone {
    position: absolute;

    bottom: 0;
    right: 0;
    z-index: 100;
}