.wrapper {
    position: relative;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.125rem 0.5rem;

    background-color: var(--frame-background-color);
}
