.wrapper {
    height: 100%;

    padding: 0 0.5rem;

    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.button {
    width: 25px;
    height: 25px;

    padding: 2px;

    display: grid;
    place-items: center;

    border-radius: 50%;
    transition: opacity 150ms, transform 150ms;
    background-color: #555;

    &:disabled {
        opacity: 0.3;
        cursor: not-allowed;
    }

    &:hover:not(:disabled) {
        transform: scale(1.1);
    }

    &:active:not(:disabled) {
        transform: scale(0.9);
    }

    svg {
        width: 100%;
        height: 100%;
    }
}
