.wrapper {
    position: relative;

    width: 100%;
    min-height: 100%;

    padding: 2rem;

    display: grid;
    gap: var(--file-list-gap);
    grid-template-columns: repeat(var(--count-of-columns), var(--file-list-item-width));
    grid-auto-rows: min-content;
    justify-content: center;
    border: 1px dashed transparent;
    transition:
        border-color 150ms,
        border-radius 150ms;

    ::-webkit-scrollbar {
        appearance: none;
    }

    &.dropTarget {
        border-color: #fff;
        box-shadow: 0 0 10px #0008 inset;
        border-radius: 0.25rem;
    }
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 2px;

    background-color: rgba($color: #fff, $alpha: 0.15);
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        left: -50%;

        height: 3px;
        width: 40%;

        background-color: rgba($color: #fff, $alpha: 0.3);
        border-radius: 20px;
    }

    &[data-loading="true"]::before {
        animation: lineAnim 1s linear infinite;
    }
}

@keyframes lineAnim {
    0% {
        left: -40%;
    }

    50% {
        left: 20%;
        width: 80%;
    }

    100% {
        left: 100%;
        width: 100%;
    }
}
