:root {
    --body-background: #282828;
    
    --navbar-background: #242424;

    // frame
    --frame-background-color: #202020;

    --window-control-button-icon-color: #fff;
    --window-control-button-hover-color: rgba(255, 255, 255, 0.15);
    --window-control-button-active-color: rgba(255, 255, 255, 0.25);

    // some unused colors
    --some-color2: #CA3E47;
}