.wrapper {
    width: var(--popup-width);
    height: min-content;
}

.countDisplayer {
    height: var(--popup-min-height);
    width: 100%;

    padding: 0 5px;

    display: flex;
    justify-content: space-between;
    flex-direction: row;

    background-color: black;
    font-size: 0.9em;
}
